<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288625857388-or11clogdorn9jjequk6t9lnkdnqo3hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288625857388-or11clogdorn9jjequk6t9lnkdnqo3hl</string>
	<key>API_KEY</key>
	<string>AIzaSyBeXmYZIUaR1gjz2P7c_0cBW6m_PCcrLqs</string>
	<key>GCM_SENDER_ID</key>
	<string>288625857388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSem2</string>
	<key>PROJECT_ID</key>
	<string>fluttersem2-91b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersem2-91b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288625857388:ios:d39fbbf7039992730bd949</string>
</dict>
</plist>